<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Omnes-regular.ttf</string>
		<string>Omnes-hairline.ttf</string>
		<string>Omnes-thin.ttf</string>
		<string>Omnes-hairline.ttf</string>
		<string>Omnes-light.ttf</string>
		<string>Omnes-bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchScreen</string>
	</dict>
</dict>
</plist>
